/* CSS Reset */

*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: Logo and Image  */
#logo{

}

#logo img{
    
}

/* Navigation Bar: List Styling  */